:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
p,
h3 {
  font-weight: normal;
}
h2 {
  font-size: 64px;
  font-weight: bold;
}
h4 {
  font-size: 40px;
}
p {
  line-height: 30px;
  font-size: 16px;
}

img {
  border-radius: 4px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  margin-left: 10px;
  line-height: 42px;
}

.navbar {
  font-family: var(--default-font-family);
}
.hero {
  background: var(--secondary-color);
  padding: 80px 20px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-size: 24px;
  line-height: 2;
}
.content-container {
  padding: 160px 20px;
  text-align: center;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
  text-align: center;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 20px 0 0;
}
.content p {
  font-size: 14px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}
.project-description {
  padding: 120px 60px;
}
.code-link {
  font-size: small;
  color: var(--branding-color);
}
footer .email-ink {
  color: red;
  text-align: center;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

footer .social-icons a {
  margin: 0 20px;
  padding: 10px 14px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .work-inquiry-box {
  background: var(--secondary-color);
  padding: 30px;
  border-radius: 10px;
}

footer .work-inquiry-box p {
  margin: none;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
  footer .code-link {
    font-size: 12px;
  }
  .btn {
    font-size: 14px;
  }

  .project-description {
    padding: 0px;
    text-align: center;
  }
}
